{
  "extends": "stylelint-config-standard",
  "ignoreFiles": ['node_modules/**/*'],
  "rules": {
    "selector-type-no-unknown": null,
    "selector-list-comma-newline-after": null,
    "selector-pseudo-element-colon-notation": "single",
    "declaration-empty-line-before": [null, ignore: ["after-comment", "inside-single-line-block"]],
    "declaration-block-single-line-max-declarations": 2,
    "color-hex-case": "lower",
    "no-eol-whitespace": [null, ignore: ["empty-lines"]],
    "no-descending-specificity": null,
    "rule-empty-line-before": ["always", ignore: ["inside-block"]],
    "no-missing-end-of-source-newline": true,
    "no-empty-source": true,
    "at-rule-empty-line-before": ["always", {
      "except": ["after-same-name"],
      "ignore": ["after-comment", "inside-block"]
    }],
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["mixin", "include"]
    }]
  }
}
