{% extends data.outerLayout %}

{% import 'macros/section.html' as section %}
{% import 'macros/navigation.html' as navigation %}

{% set guide = data.guide %}

{% block title %}{{ guide.title }}{% endblock %}

{% block beforeMain %}
<div class="apos-guide apos-guide-{{ apos.utils.slugify(guide.title) }}">
  {% include 'header.html' %}
  <main class="apos-guide-main">
  {{ navigation.render(guide.sections) }}
{% endblock %}

{% block main %}
<div class="apos-guide-content">
  {{ section.render(guide.page) }}
</div>
{% endblock %}

{% block afterMain %}
  </main>
</div>
{% endblock %}
