{% extends data.outerLayout %}

{% import 'apostrophe-guides:macros/section.html' as section %}
{% import 'apostrophe-guides:macros/navigation.html' as navigation %}

{% set guide = data.guide %}

{% block title %}{{ guide.title }}{% endblock %}

{% block beforeMain %}
<div class="apos-guide">
  <header class="apos-guide-header">
    <a href="/{{ guide.path }}" class="apos-guide-heading"><span class="apos-guide-name">{{ guide.title }}</span></a>
    <form class="apos-guide-search-form" action="/{{ guide.path }}/search" method="post">
        <label for="query" class="apos-guide-search-label">{{ __("Search") }} {{ guide.title }}</label>
        <input id="query" name="query" class="apos-guide-search-input" type="text" placeholder="{{ __('Search') }} {{ guide.title }}">
    </form>
  </header>
  <main class="apos-guide-main">
  {{ navigation.render(guide.sections) }}
{% endblock %}

{% block main %}
<div class="apos-guide-content">
  {% block content %}{{ section.render(guide.page) }}{% endblock %}
</div>
{% endblock %}

{% block afterMain %}
  </main>
</div>
{% endblock %}
