{% extends data.outerLayout %}

{% import 'macros/section.html' as section %}
{% import 'macros/navigation.html' as navigation %}

{% set guide = data.guide %}

{% block title %}{{ guide.title }}{% endblock %}

{% block beforeMain %}
<div class="apos-guide apos-guide-{{ apos.utils.slugify(guide.title) }}">
  {% include 'header.html' %}
  <main class="apos-guide-main">
  {{ navigation.render(guide.sections) }}
{% endblock %}

{% block main %}
<div class="apos-guide-content">
  <section class="apos-guide-section">
    <div class="apos-guide-docs apos-guide-search-results">
      <div class="apos-guide-section-content">

        {% if data.totalResults %}
          <h1 class="apos-guide-search-title">{{ data.totalDocuments }} {{ __("Documents for") if data.totalDocuments > 1 else __("Document for") }} <span class="apos-guide-search-query">{{ data.query.term }}</span></h1>
          {% for result in data.results %}
            <div class="apos-guide-search-result">
              <h2 class="apos-guide-search-result-title"><a class="apos-guide-search-result-link" href="{{ result.url }}">{{ result.name | safe }}</a></h2>
              <div class="apos-guide-search-result-excerpt">{{ result.doc | safe }}</div>
            </div>
          {% endfor %}
        {% else %}
          <h1>{{__("Sorry, no results found for") }} {{ data.query.term }}</h1>
        {% endif %}

      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block afterMain %}
  </main>
</div>
{% endblock %}
