{% import 'apostrophe-guides:macros/example.html' as example %}

{% macro render(options) %}

{% set footer = options.footer %}
{% set footerTemplate = options.footerTemplate %}

<section class="apos-guide-section">
  <div id="{{ apos.utils.slugify(options.name) }}-section" class="apos-guide-docs {{ apos.utils.slugify(options.name) }}-section">

    <div class="apos-guide-section-content">
      {{ options.doc | safe }}

      {% for demo in options.demos %}
        {{ example.render({ demo: demo }) }}
      {% endfor %}
    </div>

    {% if footerTemplate %}
      {% include footerTemplate %}
    {% elseif footer %}
      <footer class="apos-guide-section-footer">{{ footer | safe }}</footer>
    {% endif %}

  </div>
</section>
{% endmacro %}
